#result-box {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 25%;
    height: 60%;
    /* border: 1px solid; */
}

.result-box-title {
    position: absolute;
    top: 240px;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.result-box-list {
    position: absolute;
    background-color: whitesmoke;
    left: 10px;
    overflow-y: scroll;
    top: 0px;
    width: 80%;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
}

.result-box-list::-webkit-scrollbar {
    display: none;
  }

/* .MuiOutlinedInput-root {
    position: absolute;
    width: 20%;
    top: 33px;
    left: 36px;
} */

#box-search{
    margin-top: 35px;
    width: 50%;
    margin-left: 38px;
}

.slideDoc {
    width: 100%;
    height: 100%;
    /* margin-top: 40px; */
    overflow-y: scroll;
}

.slideDoc::-webkit-scrollbar {
    display: none;
}

.result-box-list::-webkit-scrollbar {
    display: none;
}
.css-1bzeb6l-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px !important;
    margin-top: 16px;
}

.control-disabled {
    cursor: inherit;
    display: block;
}

.MuiListItemText-primary {
    color: #ccc;
}

.title-equip {
    text-decoration: underline;
    cursor: pointer;
}

.detail-equip {
    margin-bottom: 5px;
}

.result-box-list_subbox {
    margin: 15px 20px;
}

.focus {
    color: red;
}