.react-pdf__Document {
    overflow-y: scroll;
    height: 84%;
    margin: auto;
}

.react-pdf__Page__canvas {
    margin: auto;
}

.button-direction {
    margin-right: 10px;
    background: #3f51b5;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #ccc;
  }

.react-pdf__Page__textContent {
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 5px 1px #ccc;
    border-radius: 5px;
}

.custom-title {
    color: #1976d2;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01071em;
    line-height: 1.43;
}