/* #background {
    background-image: url(./images/ava.jpg);
} */

#form {
    text-align: center;
    width:220px;
    height:auto;
    position:fixed;
    margin-left:-110px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
    border: 1px solid blue;
    border-radius: 10px;
}

.logo {
    width: 100px;
}
q
.MuiAvatar-root {
    width: 80px !important;
    height: 80px !important;
    left: 50%;
    margin-left:-40px !important;

}

.buttonSignIn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.MuiSvgIcon-root {
    margin-right: 7px;
}