#simple-tabpanel-2 {
    position: relative;
}

.title-tower {
    position: absolute;
    top: 5px;
    left: 5px;
    color: blue;
}

.validate-etude {
    position: absolute;
    top: 5px;
    right: 5px;
}

#town-3d {
    bottom: 0;
    /* background-color: aquamarine; */
}

.search-material {
    position: absolute;
    width: 25%;
    top: 95px;
    left: 20px;
}

#result-box {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 25%;
    height: 50%;
    /* border: 1px solid; */
}

.result-box-title {
    position: absolute;
    top: 140px;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.result-box-list {
    position: absolute;
    background-color: whitesmoke;
    left: 10px;
    overflow-y: scroll;
    top: 0px;
    width: 80%;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
}

.result-box-list::-webkit-scrollbar {
    display: none;
  }

#pegman {
    position: absolute;
    top: 95px;
    right: 20px;
    width: 25%;
    height: 30vh;
}

#compass {
    position: absolute;
    bottom: 95px;
    right: 20px;
    width: 25%;
    height: 30vh;
    background-color: black;
}

.circle-direction-map {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 30px;
    height: 30px;
    background: rgba(241, 189, 171, 0.6);
    text-align: center;
    padding: 2px;
    color: #fff;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.marker {
    width: 25px;
    height: 25px;
    /* background-color: aqua; */
}

.v360-image-container {
    width: auto;
    height: 100vh !important;
}

.MuiListItemText-primary {
    text-decoration: underline;
}

.result-box-list .Flexstart:first-child .MuiListItemText-primary {
    color: red;
}

#compass-town {
    width: 100%;
    height: 100%;
}